/Projeto 01 inicio/HelloWorld/nbproject/private/
/Projeto 01 inicio/HelloWorld/build/
/Projeto 02 Java/Calango/nbproject/private/
/Projeto 02 Java/Calango/build/
/Projeto 02 Java/Testando/nbproject/private/
/Projeto 02 Java/Testando/build/
/Projeto 02 Java/CalangoDeFuzil/nbproject/private/
/Projeto 02 Java/CalangoDeFuzil/build/