/Projeto 01 inicio/HelloWorld/nbproject/private/
/Projeto 01 inicio/HelloWorld/build/
/Projeto 02 Java/Calango/nbproject/private/
/Projeto 02 Java/Calango/build/
/Projeto 02 Java/Testando/nbproject/private/
/Projeto 02 Java/Testando/build/
/Projeto 02 Java/CalangoDeFuzil/nbproject/private/
/Projeto 02 Java/CalangoDeFuzil/build/
/Projeto 03 Java/MataOrcs.java/nbproject/private/
/Projeto 03 Java/MataOrcs.java/build/
/Projeto 04 Tamagochi/Tamagochi/nbproject/private/
/Projeto 04 Tamagochi/MainClass/nbproject/private/
/Projeto 04 Tamagochi/MainClass/build/
/Projeto 05 Contato/MainClass.java/nbproject/private/
/Projeto 05 Contato/MainClass/nbproject/private/
/Projeto 05 Contato/Celular/nbproject/private/
/Projeto 05 Contato/Celular/build/
/Projeto 06 ArrayList/PulaPula/nbproject/private/
/Projeto 06 ArrayList/PulaPula/build/
/Projeto 07/SalaDeCinema/nbproject/private/
/Projeto 07/SalaDeCinema/build/
/Projeto 06 ArrayList/Tarifas/nbproject/private/
/Projeto 06 ArrayList/JunkFood/nbproject/private/
/Projeto 06 ArrayList/JunkFood/build/